[2016-04-27 19:42] jennifercloake opened #1 "Code Review"
CleanImport- Gregg mentioned that this plugin is done.  Steve needs to do a code review.

[2016-06-06 16:57] Steveorevo opened #2 "Consider cleaning revisions, transients, orphan post meta, and orphan user meta, trashed comments, posts."
Look at Dave's db cleanup.

[2017-06-08 03:51] GreggFranklin opened #3 "general htaccess file not being created."
If a .htaccess file exists it will rename it with the .htaccess-sav-{date/time} but the general .htaccess file is not created. If there is no .htaccess file a general one is not created.

[2017-06-08 04:16] GreggFranklin opened #4 "In the /inc/plugins.php the path to Wordfence is missing the plugins directory in the path"
$this->install_path . 'wp-content/wordfence',

Should be:  $this->install_path . 'wp-content/plugins/wordfence',

[2017-06-08 04:36] davejesch commented on #4
fixed. you can verify when I give you a new build.

[2017-06-08 04:39] GreggFranklin opened #5 "Move the JetPack Define to just above the /* That's all, stop editing..."
I was wondering if it would be possible to move the define down a bit just above the /* That's all, stop editing! Happy blogging. */

![wp-config_php](https://user-images.githubusercontent.com/1041421/26912502-b92cab70-4bc9-11e7-9aab-1a1b3c8a1e5a.png)

[2017-06-08 04:51] GreggFranklin opened #6 "# defines that have a ? seperating them and are on a single line"

[2017-06-08 17:13] GreggFranklin commented on #3
This is an archive that was created by DesktopServer and then reimported back in with the Clean Import.

https://www.dropbox.com/s/oo69y6c6qy5cgmk/www.laurelredevelopment.com-deploy.zip?dl=0

![screen shot 2017-06-08 at 10 12 35 am](https://user-images.githubusercontent.com/1041421/26941351-09aeefd6-4c33-11e7-89ec-8eccb44d4da0.jpg)

[2017-06-08 17:17] GreggFranklin commented on #6
This happens regardless of Clean Import. So this should probably be moved to DS3 or DS4 for resolution. This happens with Multisite.

![screen shot 2017-06-08 at 10 14 49 am](https://user-images.githubusercontent.com/1041421/26941503-86290196-4c33-11e7-91c4-10d8b69729db.jpg)

Attached is the wp-config.php file to review.
[wp-config.php.zip](https://github.com/ServerPress/clean-import/files/1061781

[2017-06-09 04:19] davejesch commented on #3
Cannot reproduce with provided archive on Windows. Can you try again on Mac and see if it's still happening? I'll try it on Mac tomorrow as well.

[2017-06-09 04:30] GreggFranklin commented on #3
Here is a quick video of the Site Root as the archive is being imported.
https://screencast.com/t/FZMP2tGW57n

[2017-06-09 04:48] davejesch commented on #5
Moved the define. But noticed that the the value is being defined as 'TRUE' -- a string, rather than a boolean TRUE. Tried using set_key( 'JETPACK_DEV_DEBUG', TRUE ) and it sets it to a value of '1'. @Steveorevo any thoughts? Is there a way to specify the type for the value sent to set_key()?

[2017-06-09 04:59] davejesch commented on #6
Added code to normalize the line endings. The 'odd' character was a x0D, while all other line endings were x0Dx0A. Normalizing the line endings should solve the problem. Need to do testing on Mac.

By the way, this is not specific to MultiSite. Looks like it's caused by inconsistent line endings (some with CRLF and some with LF) on Mac. If it can be reproduced with a MS archive, please provide tha

[2017-06-13 16:56] davejesch opened #7 "Add list of non-optional plugins to disable as a display only list"
Show a list of non-optional plugins that will be disabled, with checkboxe that are disabled. This will indicate the list of plugins to users.

[2017-06-13 17:05] GreggFranklin commented on #4
Path is correct.

[2017-06-13 17:05] #4 closed, assigned to GreggFranklin

[2017-06-13 18:14] davejesch commented on #2
Cleanup implemented. Added to WP dashboard.

Finishing up adding to DS "Tools" menu on localhost.

[2017-06-13 19:48] GreggFranklin commented on #6
Ran a test creating a new multisite using the Clean Import Plugin, the result was the same.

![screen shot 2017-06-13 at 12 47 00 pm](https://user-images.githubusercontent.com/1041421/27101428-8f2d2c8e-5036-11e7-8f65-845f87f5e23e.jpg)

[2017-06-13 19:52] GreggFranklin commented on #5
Perfect!

![screen shot 2017-06-13 at 12 52 24 pm](https://user-images.githubusercontent.com/1041421/27101574-2d9686fe-5037-11e7-8c30-34b6d579078d.jpg)

[2017-06-13 19:52] #5 closed, assigned to davejesch, GreggFranklin

[2017-06-13 19:53] GreggFranklin commented on #1
Dave did the code review.

[2017-06-13 19:53] #1 closed, assigned to GreggFranklin

[2017-06-15 16:24] davejesch opened #8 "Adding define()s to wp-config- improper type for data"
### STEPS TO REPRODUCE:
- use DS_ConfigFile->set_key('SETTING', TRUE);

### RESULTS:
- sets the define to a string '1'

### EXPECTED RESULTS:
- value should be set to a TRUE

Currently, our code is using set_key('setting', 'TRUE') which is setting the define to a string 'TRUE' -- which does evaluate to a boolean TRUE, but it'd be better to set the value to a boolean TRUE and not have PHP do automa

[2017-06-16 04:56] GreggFranklin commented on #7
Tested, looks great!

[2017-06-16 04:56] #7 closed, assigned to GreggFranklin

[2017-06-16 04:56] GreggFranklin commented on #3
This issue is now resolved.

[2017-06-16 04:56] #3 closed, assigned to davejesch, GreggFranklin

[2017-06-16 05:38] GreggFranklin opened #9 "There is mention of a help screen above that does nto exist."
Located on the Clean Import Settings page.

![screen shot 2017-06-15 at 10 37 12 pm](https://user-images.githubusercontent.com/1041421/27213387-56bc74c2-521b-11e7-8546-40648f8aafc2.jpg)

[2017-06-16 07:12] GreggFranklin opened #10 "Multisite settings are not passing into the new wp-config.php file"
The saved wp-config.php(wp-config.php-sav-1497596743) file has:

![screen shot 2017-06-16 at 12 09 39 am](https://user-images.githubusercontent.com/1041421/27215878-2d7c9bca-5228-11e7-9ab4-23afaff00076.jpg)

[wp-config.php-sav-1497596743.zip](https://github.com/ServerPress/clean-import/files/1079991/wp-config.php-sav-1497596743.zip)

The newly created one does not contain the Multisite defines.

[

[2017-06-16 07:13] GreggFranklin opened #11 "Please add WP Fastest Cache to the Non-optional"
Please add 'wp-fastest-cache' to the $_non_optional
and to the $_dependents 'wp-fastest-cache' => 'wp-content/cache',

[2017-06-16 16:25] #10 closed, assigned to davejesch

[2017-06-16 16:33] davejesch commented on #6
Appears to be happening when DS creates the wp-config with MultiSite settings, it writes some line endings as 0x0D and not 0x0D 0x0A. Issue seems to be in the Xojo code that modifies wp-config.php for MultiSite.

[2017-06-16 19:26] davejesch commented on #9
added help screens to WP dashboard and DS Tools page

[2017-06-16 19:28] davejesch commented on #11
added

[2017-06-16 19:55] GreggFranklin commented on #9
Looks and works great!

[2017-06-16 19:55] #9 closed, assigned to GreggFranklin

[2017-06-16 19:56] #11 closed, assigned to GreggFranklin

[2017-06-16 19:57] GreggFranklin opened #12 "Getting Notice on Settings Page"
Notice: Undefined index: adminer in /Applications/XAMPP/ds-plugins/clean-import/page.php on line 65

![screen shot 2017-06-16 at 12 56 25 pm](https://user-images.githubusercontent.com/1041421/27242742-665b98ea-5293-11e7-9f34-14ef91cba473.jpg)

[2017-06-16 21:23] davejesch commented on #12
Is there a clean-import-settings.json file in the ds-plugins/clean-import/ directory? If not, can you copy this in from the previous version? And does that make any difference? I think this is caused when the .json file doesn't exist but want to make sure. If so, it's easily fixed.

[2017-06-16 21:31] GreggFranklin commented on #12
There is not a clean-import-settings.json file. I could not find one in the previous version either.

[2017-06-16 21:33] davejesch commented on #12
Use the WP dashboard and save the settings- that will create the file. Then, go to the DS Tools page and see if the error persists.

[2017-06-16 22:21] GreggFranklin commented on #12
That resolved it.

[2017-06-16 22:28] davejesch commented on #12
kk. I'll have a fix in a bit. The you can verify by deleting the .json file and recreating original issue.

[2017-06-17 00:51] GreggFranklin commented on #12
Issue resolved.

[2017-06-17 00:51] #12 closed, assigned to davejesch, GreggFranklin

[2017-06-17 03:25] GreggFranklin commented on #2
Test shows functioning.

[2017-06-17 03:25] #2 closed, assigned to GreggFranklin

[2017-07-12 13:32] GreggFranklin opened #13 "Clean Imports setting page does not produce an admin notice that the settings have been saved."
#### STEPS TO REPRODUCE:
Go to Tools in the Dashboard or Tools in the Localhost page and Click on DS Clean Import
Change some settings
Click the [ Save Changes ] button

#### RESULTS:
There is no indication that the settings ere saved.

#### EXPECTED RESULT:
Most plugins including our own Admin color bar will produce the "Settings saved." banner

![screen shot 2017-07-12 at 6 28 05 am](https://use

[2017-07-12 16:35] davejesch commented on #6
fixed with changes that Steve made here https://github.com/ServerPress/DS4/issues/123

[2017-07-13 19:37] davejesch commented on #13
added message

[2017-07-13 20:32] GreggFranklin commented on #13
Test and successful.

[2017-07-13 20:32] #13 closed, assigned to davejesch, Steveorevo, GreggFranklin

[2017-07-19 05:08] Steveorevo opened #14 "Adding a .github folder to a .github repo destroys version control"
Can't update plugin, repo destroys itself on checkout.

[2017-07-19 17:21] GreggFranklin opened #15 "A couple additional files to maybe exclude"
I believe these files and folders are created and used by W3TotalCache and some others.

- [ ] db.php
/cache
- [x] advanced-cache.php

Could be changed to:
advanced-cache.php-sav-{date}
db.php-sav-{date}
/cache-sav-{date}

[2017-07-27 04:55] GreggFranklin commented on #6
Tested, and now works correctly

[2017-07-27 04:55] #6 closed, assigned to davejesch, Steveorevo, GreggFranklin

[2017-07-27 16:39] davejesch commented on #14
resolved by specifying version numbers in DS's composer.json file.

[2017-08-09 21:17] GreggFranklin opened #16 "Pantheon import produces an error when arrays are used for config settings in wp-config.php file."
A client sent me the file Pantheon provides as a backup. It is three files, one with the database, one with the files and one with the uploads.

I showed the client how to unzip all three put the database file in with the files and move the uploads files in the wp-content. But after the import an error was thrown.

![screen shot 2017-08-09 at 2 11 54 pm](https://user-images.githubusercontent.com/1

[2017-08-10 16:26] davejesch commented on #16
This will require changes to the ConfigFile class in order to recognize array variables used in the define() statements.

[2017-10-16 18:57] GreggFranklin opened #17 "W3 Total Cache Error: some files appear to be missing or out of place. Please re-install plugin or remove /Volumes/Data/websites/2017-2.dev/wp-content/db.php."
Please rename the db.php file if exists to -sav-{date}

This file is created by W3 Total Cache

[2018-03-25 22:02] davejesch opened #18 "Options to clear logs from popular plugins on import"
#### STEPS TO REPRODUCE:
1. Import archive containing large log files, from iThemes Security, WordFence, etc.

#### RESULTS:
Can cause imports to crash due to large database size.

#### EXPECTED RESULT:
Need option to disable the import of logging from some of the popular plugins. We need more research to determine exactly which ones we can ignore (not just security logs, but transaction logs from

[2018-05-04 03:56] GreggFranklin commented on #14
Issue is resolved

[2018-05-04 03:56] #14 closed, assigned to davejesch, GreggFranklin

[2018-05-04 04:01] GreggFranklin commented on #17
Issue #15 contains this request already. https://github.com/ServerPress/clean-import/issues/15

[2018-05-04 04:01] #17 closed, assigned to davejesch

[2018-05-10 20:02] GreggFranklin opened #19 "Issuing a WP-CLI command when Clean-import and DS-CLI are active produce the wp-config.php file output"
#### STEPS TO REPRODUCE:
1. Activate Clean Import and DS-CLI
2. Visit any sites DS-CLI > Terminal
3. At the Prompt type: WP

#### RESULTS:
Outputs the wp-config.php file

#### EXPECTED RESULT:
Should output WP-CLI's WP Description, Synopsis and Subcommands

[2018-05-11 16:37] davejesch commented on #19
Issue moved to [ServerPress/databasecollationfix #6](https://github.com/ServerPress/databasecollationfix/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-11 16:37] #19 closed, assigned to davejesch

[2018-05-25 17:12] davejesch opened #20 "Add option to remove edit lock postmeta records on import"
#### STEPS TO REPRODUCE:
1. import site
2. note multiple postmeta records for '_edit_last' and '_edit_lock'
3. WP does not delete these old records so they just take up space and are unnecessary in a local environment.

#### RESULTS:
Extra records in postmeta after import

#### EXPECTED RESULT:
Option to remove these postmeta records after import.

[2018-05-25 17:15] davejesch opened #21 "Add option to remove any empty postmeta records on import"
#### STEPS TO REPRODUCE:
1. import site
2. note any postmeta records with an empty meta_value column

#### RESULTS:
Extra empty records in postmeta after import

#### EXPECTED RESULT:
Option to remove rows with empty postmeta.meta_value

[2018-06-02 15:58] GreggFranklin opened #22 "Duplicator now renames the wp-config.php file to wp-config-arc.txt"
This creates an error because DesktopServer cannot find the wp-config.php file.

If we could rename this before importing would resolve this issue.

[2018-06-02 19:02] davejesch commented on #22
Side question: after you run the Duplicator import on the Target domain, is it renaming wp-config-arc.txt to wp-config.php? Or is there a wp-config-arc.txt file left after the import? What if there's an error during the import process?

I ask, because this could be a security issue with Duplicator. If it ever leaves a .txt file around it could expose database passwords.

[2018-06-02 20:28] GreggFranklin commented on #22
Not sure have never used the Duplicator import.

[2018-06-08 19:56] GreggFranklin opened #23 "Clean import is not renaming the .htaccess file and adding a basic one."
Start up DesktopServer, confirm Clean import is activated
Import archive ( https://www.dropbox.com/s/vkus3guprwnjwqf/Archive%20when%20importing%20with%20clean-import-did-not-replace-the-htaccess-file.zip?dl=0)
Check the files after import.
*I did notice there is a -sav-{date} backup but this was prior, could this prevent a new one?
![screen shot 2018-06-08 at 12 42 06 pm](https://user-images.githu

[2018-06-12 14:56] GreggFranklin opened #24 "Present an alert if the client has installed the Clean Import in WordPress instead of in the ds-plugins folder"
STEPS TO REPRODUCE:

    Download plugin and install via WordPress.

RESULT:

An error is produced
EXPECTED RESULT:

An alert instructing them to install it in OS path \ ds-plugins

![screen shot 2018-06-12 at 7 55 40 am](https://user-images.githubusercontent.com/1041421/41298347-07cec7bc-6e16-11e8-95bd-eb1567332352.jpg)

[2018-06-16 19:59] davejesch commented on #24
added message

[2018-06-17 03:15] GreggFranklin commented on #24
Plugin could not be activated because it triggered a fatal error.

( ! ) Fatal error: Uncaught Error: Using $this when not in object context in /Users/GreggFranklin/Documents/Websites/test99.dev.cc/wp-content/plugins/clean-import-master/clean-import.php on line 16
( ! ) Error: Using $this when not in object context in /Users/GreggFranklin/Documents/Websites/test99.dev.cc/wp-content/plugins/clean-i

[2018-06-17 07:26] davejesch commented on #24
fixed callback reference

[2018-06-17 14:46] GreggFranklin commented on #24
Issue resolved

[2018-06-17 14:46] #24 closed, assigned to GreggFranklin

[2018-06-25 17:07] GreggFranklin commented on #22
Related to: https://github.com/ServerPress/ds/issues/159

[2018-07-02 18:45] davejesch opened #25 "Add pre-processing of database.sql to remove unnecessary data"
#### STEPS TO REPRODUCE:
1. Import database from HelpScout issue 201379

#### RESULTS:
Many large tables are declared for this database. We can remove a lot of this data such as:
- prli_clicks
- itsec_distributed_storage
- itsec_lockouts
- itsec_log
- itsec_logs
- itsec_temp
- tve_leads_event_log
- wfFileMods
- wfHoover
- rg_form_view

#### EXPECTED RESULT:
Tables with large amounts of log informa

[2018-08-13 17:47] GreggFranklin commented on #22
Duplicator light does not appear to change the wp-config.php files name. ( https://wordpress.org/plugins/duplicator/ ) The pro version changes the name to  dup-wp-config-arc__8bde909-07151227.txt. I thought I had originally seen it as wp-config-arc-txt. But the provided link below with an archive has the first one.

https://www.dropbox.com/s/g7hno6g6nhc7l0b/20180807_ivac_8bde9098ed0cd5fe4800_20180

[2018-08-17 17:04] davejesch opened #26 "Importing sites with ENGINE=Aria fails"
#### STEPS TO REPRODUCE:
1. import site with ENGINE=Aria

#### RESULTS:
Produces errors

#### EXPECTED RESULT:
Change ENGINE= to InnoDB before import is performed

Reported: https://github.com/ServerPress/ds/issues/89

[2018-08-23 03:19] davejesch commented on #22
Also renamed the .sql file found in the dup-installer/ directory. It had the same "guid" built into the file name.

I do not have an example of the wp-config-arc.txt file and the name of the .sql file for that scenario. I did add code to rename wp-config-arc.txt and that works but I'm not sure of the .sql file name so I'll need an example of that.

[2018-08-23 03:26] davejesch commented on #23
@GreggFranklin Not sure what you mean by "this was prior" -- do you mean this was from a prior import? Don't all the files get removed during the import process? Either way, having an extra file with a -sav-{date} in it would not interfere with renaming the .htaccess to .htaccess-sav-{date} since the data value is different each time.

[2018-08-23 15:10] GreggFranklin commented on #23
I can not seem to recreate the issue and the original test archive is gone. I am going to close this ticket and if it should happen again reopen a new one.

[2018-08-23 15:10] #23 closed, assigned to GreggFranklin

[2018-08-23 15:12] GreggFranklin commented on #22
In the archive provided above contains the modified wp-config.php file. It is named: **dup-wp-config-arc__8bde909-07151227.txt**

[2018-08-23 15:13] GreggFranklin commented on #22
The database is located in /dup-installer and named dup-database__8bde909-07151227.sql also can be found in archive provided.

[2018-08-23 17:47] GreggFranklin commented on #22
When using the archive provide in this thread I received the following error after installing the latest master. *The database.sql may have to be put in the root of the folder.

![image 12](https://user-images.githubusercontent.com/1041421/44542516-dfe49a80-a6c1-11e8-93ec-249e93362e68.jpg)

[2018-08-24 01:01] davejesch commented on #26
fixed

[2018-08-24 02:05] davejesch commented on #22
@GreggFranklin I am moving the .sql file to the main folder and renaming it to database.sql. The behavior you're describing is what I saw before I added the code to renamed/moved the files. So you might not have installed the current code correctly. Check that first.

If that doesn't do it then try this: in prepend.php there's a debug() method. Comment out the return on line 351. Also comment out

[2018-08-24 02:23] GreggFranklin commented on #22
OS: Mac

I did as instructed:
![screen shot 2018-08-23 at 7 20 12 pm](https://user-images.githubusercontent.com/1041421/44561480-e1d24c00-a709-11e8-90fc-e2a63ebc9d48.jpg)

No log fine is created:
![screen shot 2018-08-23 at 7 22 04 pm](https://user-images.githubusercontent.com/1041421/44561483-ebf44a80-a709-11e8-9ba2-fcf70902810a.jpg)

[2018-08-24 15:52] GreggFranklin opened #27 "Ability to import a All-in-One-WP-Migration archive (.wpress)"
All-in-One WP Migration creates a archive file with the .wpress extension. And appears to use some kind of compression.

It is not a complete archive:
![image 16](https://user-images.githubusercontent.com/1041421/44594049-f64e2d00-a779-11e8-9ec8-ddf19a91970f.jpg)

There is a code up on Github that might be useful to extract for Win/Mac: https://github.com/fifthsegment/Wpress-Extractor

To make thi

[2018-08-24 16:20] GreggFranklin opened #28 "Ability to import a UpDraftPlus archive"
UpDraftPlus does not create a complete archive and creates folders for different parts of a WordPress site.

To make this into a viable archive for DS we would need to grab the WordPress core.

Here is links to the zips it creates:
https://www.dropbox.com/s/phuolps1xfqz0ux/backup_2018-08-24-1612_test_6ae24350675d-plugins.zip?dl=0
https://www.dropbox.com/s/hqmlv3qrmzhfx10/backup_2018-08-24-1612_tes

[2018-08-24 23:08] davejesch commented on #22
@GreggFranklin As stated above, the log file is created in ds-plugins/~clean-import-log.php -- not ds-plugins/clean-import/~clean-import-log.txt

[2018-08-24 23:39] davejesch commented on #26
fixed

[2018-08-24 23:39] davejesch commented on #25
implemented

[2018-08-25 03:38] davejesch commented on #28
@GreggFranklin So are each of these .zip files above a complete UpDraft archive? Or does the collection of all 5 .zip files make up one archive?

[2018-08-25 03:51] davejesch opened #29 "".htacces" typo on Clean Import plugin description"
@erinmarinas commented on [Fri Aug 24 2018](https://github.com/ServerPress/ds/issues/183)

#### STEPS TO REPRODUCE:
1. Start DesktopServer
2.  Click on the Clean Import plugin to bring up the plugin description

#### RESULT:
![ds1](https://user-images.githubusercontent.com/10032031/44614650-3cc78880-a85b-11e8-93f1-fce402b32f25.png)

[2018-08-25 04:13] davejesch commented on #29
Fixed.

This won't be in the build until a couple of the other active issues are verified. You can download the code from the repo and copy it in place to your ds-plugins/ directory to verify though.

[2018-08-25 04:20] erinmarinas commented on #29
Fix verified. Closing.

[2018-08-25 04:20] #29 closed, assigned to erinmarinas

[2018-08-25 16:16] GreggFranklin opened #30 "Clean Import settings for "Do not import log records:" does not stay set after [ Save Changes ]"
#### STEPS TO REPRODUCE:
1. Install/Activate Clean Import
2. Visit settings page on http://localhost under Tools
3. Click the "Yes" radio button
4. Click [ Save Changes ]

![image 23](https://user-images.githubusercontent.com/1041421/44620330-2fa09e80-a847-11e8-994f-d47a0718dad1.jpg)

#### RESULTS:
Does not save the change.(Yes)
![image 24](https://user-images.githubusercontent.com/1041421/4462033

[2018-08-27 19:34] GreggFranklin commented on #28
Came across this info that I thought you should know:

For larger sites, your backup may be split over multiple zips files. For performance reasons, by default, UpdraftPlus splits the data every 400MB. So, you may have more than one “uploads” zip (with names ending in uploads.zip, uploads2.zip, uploads3.zip, etc.). You need to unzip and upload *all* of these, so that the final wp-content/uploads f

[2018-08-27 22:42] davejesch commented on #30
fixed

[2018-08-27 23:00] davejesch commented on #28
@GreggFranklin Do you have a sample of an Updraft Plus archive that spans multiple files for the uploads.zip files? I can guess but I think we'll want to test against this.

[2018-08-27 23:08] GreggFranklin commented on #28
[backup_2018-08-27-1658_test_fb5ec1b6bfb9-db.gz](https://github.com/ServerPress/clean-import/files/2325918/backup_2018-08-27-1658_test_fb5ec1b6bfb9-db.gz)
[backup_2018-08-27-1658_test_fb5ec1b6bfb9-others.zip](https://github.com/ServerPress/clean-import/files/2325919/backup_2018-08-27-1658_test_fb5ec1b6bfb9-others.zip)
[backup_2018-08-27-1658_test_fb5ec1b6bfb9-plugins.zip](https://github.com/Server

[2018-08-27 23:17] davejesch commented on #28
@GreggFranklin This only has one ...uploads.zip file. Do you have an example that has multiple uploads files?

[2018-08-28 00:06] GreggFranklin commented on #28
[backup_2018-08-27-2350_test_6934875dbc13-db.gz](https://github.com/ServerPress/clean-import/files/2325981/backup_2018-08-27-2350_test_6934875dbc13-db.gz)
[backup_2018-08-27-2350_test_6934875dbc13-others.zip](https://github.com/ServerPress/clean-import/files/2325982/backup_2018-08-27-2350_test_6934875dbc13-others.zip)
[backup_2018-08-27-2350_test_6934875dbc13-plugins.zip](https://github.com/Server

[2018-08-28 17:13] GreggFranklin commented on #30
This issue has been resolved.

[2018-08-28 17:13] #30 closed, assigned to GreggFranklin

[2018-08-28 18:09] GreggFranklin commented on #25
Testing and functions.

[2018-08-28 18:09] #25 closed, assigned to GreggFranklin

[2018-08-28 18:18] GreggFranklin commented on #22
Issue resolved

[2018-08-28 18:18] #22 closed, assigned to GreggFranklin

[2018-08-29 15:21] GreggFranklin commented on #18
Implemented in v1.1.5

[2018-08-29 15:21] #18 closed, assigned to nobody

[2018-08-29 15:22] GreggFranklin commented on #21
I believe this feature is implemented. Remove orphaned postmeta: is in the settings page.

[2018-08-29 15:24] GreggFranklin opened #31 "Add some help regarding Skip importing log records:"
Add some help(documentation) on the Settings page regarding the new "Skip importing log records".

[2018-08-29 22:45] davejesch commented on #27
This would require @Steveorevo to make changes to the DS UI, allowing for selecting .zip files and .wpress files. At the very least, we should push this to 3.9.3.

[2018-08-29 22:48] davejesch opened #32 "Add the Affiliate WP plugin to the list of plugins to automatically deactivate"
#### STEPS TO REPRODUCE:
1. Import a site with Affiliate WP installed and activated

#### RESULTS:
Note that the plugin is active.

#### EXPECTED RESULT:
The Affiliate WP plugin needs to be deactivated after Clean Import does it's work.

[2018-08-29 22:52] davejesch commented on #31
@GreggFranklin There is a message underneath the option for "Skip importing log records" which describes this. It can be found on both the WP Admin settings and the localhost Tools settings page for Clean Import.

Is this sufficient? If not, what more do you need?

[2018-08-29 22:59] GreggFranklin commented on #32
I created a site
installed and activated AffiliateWP
added user as affiliate
exported site as archive
reimported site with all plugins on
Successful import no errors.
reviewed site and all was well.

[2018-08-29 23:03] GreggFranklin commented on #31
I guess I was just looking for something up under Help about it and the benefits of activating it.

[2018-08-29 23:03] davejesch commented on #32
@GreggFranklin This may be working since we're using mysqldump to export the tables, as well as views, stored procedures and triggers, etc. now.

Following the above steps with an older version like 3.9.1- does this present a problem? I think it might.

It would also likely create a problem if the site was exported from a live domain using one of several backup tools that do not properly export vi

[2018-08-29 23:05] davejesch commented on #31
We could add that, sure. But then we should also add more detailed docs on all the other settings in the "Remove options" section. It would look strange to fully document one and not the others. But now I have a much better idea of where you're looking at for the additional docs.

Alternatively, we could change the description under  the config setting. If you have some suggestions on the wording,

[2018-08-29 23:09] davejesch commented on #21
This is not currently implemented. We do remove "orphaned" postmeta. This is a request to remove "empty" postmeta since the results of reading a non-existent record is essentially the same as reading an empty string.

[2018-08-31 01:14] davejesch commented on #32
Related to https://github.com/ServerPress/ds/issues/108

[2018-08-31 01:28] erinmarinas commented on #26
Tested. Issue resolved.

[2018-08-31 01:28] #26 closed, assigned to GreggFranklin, erinmarinas

[2018-09-03 18:29] GreggFranklin opened #33 "Duplicator Pro Archive: Error: Unable to locate database in the site archive."
#### STEPS TO REPRODUCE:
1. Start DesktopServer
2. Turn on all plugins including Clean Import
3. Import Duplicator Pro Archive

Archive:
https://www.dropbox.com/s/as75ds5xwzux7fn/Daily_jukeboxhosting_archive.zip?dl=0

#### RESULTS:
![image 20](https://user-images.githubusercontent.com/1041421/44998691-5445f600-af6c-11e8-8f5e-e96800ac808f.jpg)

#### EXPECTED RESULT:
Clean Import to move the databas

[2018-09-03 19:28] GreggFranklin commented on #33
Hold off on this I think the client provided a bad package. My test was successful and his is missing a wp-config file all together.

[2018-09-03 19:28] davejesch commented on #33
Looks like the contents of the Duplicator archive are different. We're currently looking for a dup-wp-config-arc__{guid}.txt file, which does not exist in this archive. This archive has a wp-config.php file. We use the guid from the .txt file to locate the database file in the dup-installer/ directory.

So, a couple questions:
- If there's a wp-config.php and/or a missing dup-wp-config-arc__{guid}

[2018-09-03 19:29] davejesch commented on #33
A "bad package" would explain what I'm seeing and my previous questions. Find out what you can, the answer the questions and reassign to me when you can.

[2018-09-04 02:50] GreggFranklin commented on #33
The client reported that his wp-config.php was above the root and Duplicator could not find it. Closing this ticket.

[2018-09-06 05:17] MarcBenzakein opened #34 "Importing of Duplicator Pro File does not rename wp-config file or find database on Mac"
#### STEPS TO REPRODUCE:
1. On a Mac, start DesktopServer and select Import
2. Select Duplicator Pro file to import
3. Start Import

#### RESULTS:
Upon the scrubbing of database step, DesktopServer creates error stating that database cannot be found.

#### EXPECTED RESULT:
DesktopServer imports without issue.

Browser: N/A
Browser Version: N/A
Operating System: Mac High Sierra

Link to original du

[2018-09-06 07:16] davejesch commented on #34
I think Gregg already reported this. They've been changing the name of the config file, and sometimes it's not present if the file exists further up the path that the doc directory. Our plan is to copy the wp-config-sample.php. But having additional archives to test with and verify these changes is helpful.

Related #33

[2018-09-06 07:18] davejesch commented on #33
Need to add checks for missing wp-config.php and copy wp-config-sample.php to wp-config.php. Doing this will require searching the database for the db prefix to add to wp-config.

Also make the search for .sql file more error resistant since we're using the name of the dup-wp-config-arc__{guid}.txt to find the .sql file.

[2018-09-06 18:04] davejesch commented on #33
There is no dup-wp-config-arc__{guid}.txt file in the archive- this is the cause of the problem.

@GreggFranklin Did you add the wp-config.php file or is this the un-altered version of the customer's import? Just want to know.

[2018-09-06 18:44] davejesch commented on #33
Fixed. Archive provided now imports.

[2018-09-10 20:00] GreggFranklin opened #35 "When Importing a ManageWP archive with WooCommerce installed it fails with error"
#### STEPS TO REPRODUCE:
1. Import archive created by ManageWP and containing WooCommerce

#### RESULTS:
![error1](https://user-images.githubusercontent.com/1041421/45321005-00518900-b4f9-11e8-8b6a-1767d4f538ae.png)

#### EXPECTED RESULT:
A successful import

#### ADDITIONAL NOTES:
The wp_woocommerce_downloadable_product_permissions table is created after the wp_wc_download_log. The wp_wc_download

[2018-09-11 00:01] davejesch commented on #35
We could come up with a fix for this, but ... the problem is really in ManageWP. And it's going to be a big problem for them since WC is moving towards custom tables for products and orders.

Let's forward this to them and see what they say about creating the tables in an order that allows the constraints to be created without failing. We can evaluate whether or not we're going to address this bas

[2018-09-14 18:14] MarcBenzakein commented on #34
Cloned latest repo, started with a fresh install of DS 3.9.2, replaced clean-import with master from repo. Still experiencing same issue on Mac.

[2018-09-14 20:37] davejesch commented on #34
I need to see the log file. Edit wp-config and set WP_DEBUG to TRUE, then remove/comment out the "return;" that is in clean-import/prepend.php on line 355. The log file will be in ds-plugins/~clean-import-log.txt. Run the import again and attach the log file here.

[2018-09-15 01:40] MarcBenzakein commented on #34
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/2385253/clean-import-log.txt)

[2018-09-16 04:18] davejesch commented on #34
Mac platform was not getting a trailing slash on the temp directory. Added code to ensure that's in place.

[2018-09-17 17:52] GreggFranklin commented on #34
Duplicator Pro now also appears to create an archive with the .daf extension. Bob from Snapcreek(The guys who bought Duplicator) sent us an email contains helpful info and links to code. However these links are no longer valid. I have contacted him for new links and will add them to this thread. Here is the email:
Changes from Duplicator Archives of the Past

1) Slight change in zip: In Duplicator

[2018-09-17 19:22] GreggFranklin opened #36 "Duplicator Pro now also appears to create an archive with the .daf extension."
Bob from Snapcreek(The guys who bought Duplicator) sent us an email contains helpful info and links to code. However these links are no longer valid. I have contacted him for new links and will add them to this thread. Here is the email:

Changes from Duplicator Archives of the Past

1) Slight change in zip: In Duplicator Pro and a yet-to-be-released version of Duplicator Lite, the wp-config.php f

[2018-09-17 19:23] GreggFranklin commented on #34
Issue has been tested and resolved.

[2018-09-17 19:23] #34 closed, assigned to MarcBenzakein

[2018-10-13 18:56] GreggFranklin commented on #36
https://drive.google.com/drive/folders/1VqAU5k_n3LwbRWe5o_xVsOhTaSb82HxK?usp=sharing

[2019-01-17 00:26] GreggFranklin opened #37 "Can't find database from a Duplicator package when custom scrubbing options are turned on."
#### STEPS TO REPRODUCE:
1. Import a Duplicator package with the Clean Import plugin activated
2. Check the box for Customize scrubbing options

#### RESULTS:
![image 3](https://user-images.githubusercontent.com/1041421/51287258-771cf800-19ab-11e9-9d60-709717b84ff9.jpg)

#### EXPECTED RESULT:
To import correctly.

Plugin version: 1.1.6
Operating System: Mac Mojave,

[2019-01-17 17:22] Steveorevo commented on #37
Thats not a Mojave screenshot. Are we sure this is on Mojave or is it Windows too? Archive specific or any duplicator archive?

[2019-01-17 17:25] GreggFranklin commented on #37
Yes, this happens on both platforms. This was a screen shot from my Windows machine.

[2019-01-17 17:31] GreggFranklin commented on #37
Archive: https://www.dropbox.com/s/xff1w53nir9144f/ibs-site.zip?dl=0

[2019-01-31 00:05] erinmarinas opened #38 "BackupWordPress - Error when visiting site after import"
#### STEPS TO REPRODUCE:
1. Install BackupWordPress plugin and create a complete archive
2. Import the resulting archive with Clean Import activated
3. Open the site once importing completes

#### RESULTS:
Errors upon visiting the site
![screenshot 45](https://user-images.githubusercontent.com/10032031/52020969-32a66600-252e-11e9-9f46-3e9505ed5c07.png)

I just used a basic site with nothing added

[2019-05-29 16:15] davejesch opened #39 "Some debugging was discovered when firing up Trace"
@GreggFranklin commented on [Tue May 28 2019](https://github.com/ServerPress/ds/issues/255)

#### STEPS TO REPRODUCE:
1. Start up DesktopServer
2. Turn on the Debug and Trace Plugin
3. Start up Trace

#### RESULT:
![Image 1](https://user-images.githubusercontent.com/1041421/58528144-44b9ad80-818a-11e9-9dae-831b3d7ce241.jpg)

#### EXPECTED RESULT:
No output

[2019-05-30 01:28] davejesch commented on #39
Messages have been removed.

[2019-05-30 01:32] GreggFranklin commented on #39
@davejesch There are lines that say "DS_Clean_Import::debug('***starting');" -- Would these lines to be changed to "self::debug('***starting');" ?

[2019-05-30 01:54] davejesch commented on #39
No. Those are outside of the class.

ALL of the messages have been effectively removed by adding a return statement at the top of the DS_Clean_Import::debug() method.

[2019-05-30 03:30] GreggFranklin commented on #39
Tested - Issue resolved

[2019-05-30 03:30] #39 closed, assigned to GreggFranklin

[2019-05-30 03:32] #33 closed, assigned to GreggFranklin

[2019-06-17 17:11] GreggFranklin opened #40 "Error: Unknown database -- Mixed quotes in wp-config.php"
#### STEPS TO REPRODUCE:
1. Import a BackupBuddy Archive

#### RESULTS:
![bb](https://user-images.githubusercontent.com/1041421/59623058-1293cf80-90e8-11e9-8b82-95146e60a2c4.jpg)

#### EXPECTED RESULT:
Successful import

wp-config.php contains mixed quotes:

/** The name of the database for WordPress */
define( 'DB_NAME', "behind99_wp1" );

/** MySQL database username */
define( 'DB_USER', "behind

[2020-06-04 20:39] GreggFranklin commented on #32
Affiliate WP no longer creates this issue.

[2020-06-04 20:39] #32 closed, assigned to GreggFranklin

[2020-08-15 22:37] GreggFranklin opened #41 "Duplicator Pro now stores the wp-config.php in dup-installer/original_files_***/source_site_wpconfig"
I would like the Clean Import script to see if the wp-config.php file exists in the root like normal if not look for it in the dup-installer/original_files_***/source_site_wpconfig

Actually our Duplicator Class already scans for dup-wp-config-arc__*.txt files

			// scan for dup-wp-config-arc__*.txt files
			$files = scandir( $workdir );
DS_Clean_Import::debug(__METHOD__.'(): found ' . count($fil

[2020-12-28 18:08] GreggFranklin commented on #41
A Duplicator Pro archive now stores the .htacces, user.ini, php.ini and wp-config.php in a folder named dup-installer/original_files_{random characters}. These files are renamed:
source_site_htaccess
source_site_userini
source_site_wpconfig

I have linked to a sample Duplicator Pro Archive here: https://www.dropbox.com/s/4o3sbetf6n2eeox/Duplicator%20Pro_archive.zip?dl=0

[2021-06-04 18:29] MarcBenzakein commented on #41
Bumping this one. Currently, it is stored as source_site_wpconfig instead of dup-wp-config-arc__*.txt

[2021-06-04 18:57] davejesch commented on #41
Fixed. I turned on debugging for the plugin. A log file in ds-plugins/clean-import/~clean-import-log.txt will be created.

The original issue stated that the `dup-installer/original_files_*/source_site_userini` file needs to be renamed to `user.ini`. I've also seen *.user.ini* so we need to check this from an original site that has a .user.ini file and verify the names used.

[2021-06-04 23:18] MarcBenzakein commented on #41
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6601618/clean-import-log.txt)

[2021-06-04 23:18] MarcBenzakein commented on #41
log attached

[2021-06-04 23:33] davejesch commented on #41
Can you check the contents of the file you're importing? There is a `.user.ini-190930192057.orig` file and a `htaccess.orig576193093' file in the root directory, but no `dup-installer` directory at all. The contents of the file do not match what has been described as the new contents.

[2021-06-05 00:20] MarcBenzakein commented on #41
![image](https://user-images.githubusercontent.com/1574186/120873934-14672f80-c559-11eb-96c0-772273a49538.png)

[2021-06-05 05:44] MarcBenzakein commented on #41
Access to sample .zip archive can be found here: https://www.dropbox.com/s/gh6csa2akyyby3p/20210601_bahaifaith_911baf96d0673dea6131_20210601202145_archive.zip?dl=0

[2021-06-07 18:12] davejesch commented on #41
Added code to look for dup-installer/ and/or ds-dup-installer/ directories

[2021-06-07 18:54] GreggFranklin commented on #41
2021-06-07 20:25:49 - ***starting
2021-06-07 20:25:49 - >>last UI event: "update_server"
2021-06-07 20:25:49 - -is_localhost is FALSE
2021-06-07 20:25:57 - ***starting
2021-06-07 20:25:57 - >>last UI event: "start_services"
2021-06-07 20:25:57 - -action not triggering initialization: "start_services"
2021-06-07 20:36:14 - ***starting
2021-06-07 20:36:14 - >>last UI event: "site_preimport"
2021-06-

[2021-06-07 18:57] GreggFranklin commented on #41
error came up that it cold not find the database which is now also in the ds_dup-installer with a name like dup-database__911baf9-01202145.sql
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6611367/clean-import-log.txt)

[2021-06-07 20:04] GreggFranklin commented on #41
New test resulted in site being created but with no wp-config.php. Database was created and filled.
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6611707/clean-import-log.txt)

[2021-06-08 15:40] GreggFranklin commented on #41
Latest attempt - Error - Unable to locate database in the site archive.
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6617874/clean-import-log.txt)

[2021-06-09 13:13] GreggFranklin commented on #41
Another test with new logs
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6623981/clean-import-log.txt)

[2021-06-18 04:39] davejesch commented on #41
Found problem with renaming plugin directories: the code was locating a wp-config.php in /ds-dup-installer/templates/default/pages-parts/step3/options-tabs/ instead of / - and then assume wp-content/plugins/ under that wrong directory. Made changes to accommodate correct directory. The ds-dup-installer\original_files_911baf9-01202145\.\source_site_wpconfig should be copied into place in DS_Clean_I

[2021-06-21 17:43] GreggFranklin commented on #41
Used this archive: https://www.dropbox.com/s/zaouoj6aj9fbuq1/Duplicator%20Pro_archive2.zip?dl=0

A wp-config.php file is not created.

<img width="223" alt="explorer_7yStGdV2sC" src="https://user-images.githubusercontent.com/1041421/122805059-7627d900-d27d-11eb-9e9f-5dd0d54c422c.png">

[2021-06-21 17:52] GreggFranklin commented on #41
The wp-config.php file is there but does not contain credentials or db table prefix.

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '');

/** MySQL database username */
define('DB_USER', '');

/** MySQL database password */
define('DB_PASSWORD', '');

/** MySQL hostname */
define('DB_HOST', '127.0.0.1');

/** D

[2021-06-21 19:15] GreggFranklin commented on #41
Renaming of the plugins are working properly

[2021-06-21 21:20] GreggFranklin commented on #41
Here is the requested log:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6689591/clean-import-log.txt)

[2021-06-22 04:04] davejesch commented on #41
The wp-config in the original_files_* directory contains empty settings. Added code to pull info from the Preferences file and insert into config.

[2021-06-22 05:08] GreggFranklin commented on #41
Testing tonight resulted in the following error:
<img width="402" alt="chrome_jZKqqPETet" src="https://user-images.githubusercontent.com/1041421/122866621-1c56fb80-d2dd-11eb-88d5-2eb141d30e90.png">

I added the "wp_" to the wp-config.php file and the site came up properly.

So close! :-)

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6691186/clean-import-log.txt)

[2021-06-22 17:25] GreggFranklin opened #42 "SiteGround is now providing a security plugin should we turn it off and clear the log tables."
SiteGround Security
https://www.siteground.com/blog/sg-security/

2 tables are created
wp_sgs_log_events
wp_sgs_log_visitors

[2021-06-22 17:29] GreggFranklin opened #43 "Add the option of deactivating LiteSpeed Cache"
class DS_Clean_Import_Plugins extends DS_Clean_Import_Base
{
	// non-optional: these plugins will always be disabled due to issues caused by them
	private $_non_optional = array(
'litespeed-cache',	 // LiteSpeed Cache

Also the advance-cache.php file that LiteSpeed Cache adds

	// the following are files that are dependent upon or related to items in the above lists
	private $_dependents = array(

[2021-06-22 17:31] GreggFranklin commented on #43
I pushed this change and wanted you to review.

[2021-06-23 04:26] davejesch commented on #41
Changed location that database.sql is reference from, so the table prefix scan should work.

As an added test, please add a `define('WP_HOME', 'http://example.com');` to the ds-dup-installer/original_files_911baf9-01202145/source_site_wpconfig file and rebuild the .zip file and use that for the next import test. This should now be commented out in the final wp-config.php file for the site.

[2021-06-23 04:45] GreggFranklin commented on #41
Still not seeing the database prefix filled in, and the define I added did not show either.

[wp-config.txt](https://github.com/ServerPress/clean-import/files/6698946/wp-config.txt)

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6698949/clean-import-log.txt)

[2021-06-23 22:24] davejesch commented on #41
Forgot- Clean Import makes a back up wp-config and then copies the wp-config-sample into place and adds DB configuration to it. So there won't be a WP_HOME defined. If you modify the clean-import/lib/wp-config-sample.php and add the WP_HOME define to that, it's be copied into place and then should be commented out.

I made a change to how the database.sql file is scanned. The info passed into proc

[2021-06-23 22:49] GreggFranklin commented on #41
Sorry Dave, no joy. Still missing $table_prefix and even though I put the define in the wp-config-sample.php it does not show in the wp-config.php that was created, commented out.

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6705233/clean-import-log.txt)

[2021-06-25 11:51] GreggFranklin commented on #41
New log:

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6715909/clean-import-log.txt)

[2021-06-30 01:59] davejesch commented on #41
Looks like the .sql file is no longer present at the time of the 'site_imported' hook. Now making a copy of the file to the site directory so we can scan it for the prefix.

Please run another test and attach logs.

[2021-06-30 02:06] davejesch commented on #43
"Also the advance-cache.php file that LiteSpeed Cache adds"
What about the "advance-cache.php" file? And where is this located?

"I pushed this change and wanted you to review."
What change? Can you add a link to the check-in?

[2021-06-30 14:41] GreggFranklin commented on #41
New log, no DB prefix:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6741746/clean-import-log.txt)

[2021-06-30 17:00] davejesch opened #44 "Remove any CREATE DATABASE and USE statements"
#### STEPS TO REPRODUCE:
1. Import an archive that contains a CREATE DATABASE and/or USE statements

#### RESULTS:
The CREATE DATABASE and USE statements will cause problems with the import process of DesktopServer.

#### EXPECTED RESULT:
Need to comment out or remove these statements during the Clean Import process so they don't interfere with the table creation and inserts.

Look for statements

[2021-07-01 01:36] davejesch commented on #41
copy database.sql from site directory instead of temp

Please run another test and attach logs.

[2021-07-01 01:52] GreggFranklin commented on #41
New log, no db prefix.

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6744850/clean-import-log.txt)

[2021-07-02 05:06] davejesch commented on #36
Is Duplicator Pro still doing this? Are the fixes in #41 enough that we can close this issue?

If not, please add notes explaining what changes are needed and we'll go from there.

[2021-07-02 05:12] davejesch commented on #15
@GreggFranklin Please add full directory names to the files to be removed. I believe the db.php file is wp-content/db.php but I could be wrong.

[2021-07-02 05:16] davejesch commented on #37
@GreggFranklin Is this fixed with the recent changes to #41?

[2021-07-02 20:37] GreggFranklin commented on #15
You are correct

wp-content/db.php

[2021-07-02 22:18] GreggFranklin commented on #41
Client tried the new version and received an error: Your wp-config.php file has an empty database table prefix, which is not supported. I asked for his archive and was able to recreate this issue. Here is the debug log from this import:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6757278/clean-import-log.txt)

[2021-07-06 16:41] GreggFranklin commented on #41
Here is the archive: https://www.dropbox.com/s/e1gzy170ft0m32z/20210702_americanallianceconferenceed_ee9ec1daff8f27b86818_20210702190554_archive.zip?dl=0

[2021-07-07 17:07] GreggFranklin commented on #41
Here is the requested log:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6778937/clean-import-log.txt)

[2021-07-08 17:50] GreggFranklin commented on #41
Latest Log with current version of Clean Import and archive with renamed ds-dup-installer
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6786359/clean-import-log.txt)
<img width="203" alt="explorer_JVe4Obyepj" src="https://user-images.githubusercontent.com/1041421/124968103-1437d500-dfda-11eb-8486-a7fc3abb112b.png">
[wp-config.txt](https://github.com/ServerPress/clean-im

[2021-07-09 19:20] GreggFranklin commented on #41
Your wp-config.php file has an empty database table prefix, which is not supported.

[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6793519/clean-import-log.txt)

[wp-config.txt](https://github.com/ServerPress/clean-import/files/6793521/wp-config.txt)

[2021-07-13 22:36] GreggFranklin commented on #41
Going to be very specific:
Using this archive: https://www.dropbox.com/s/4o3sbetf6n2eeox/Duplicator%20Pro_archive.zip?dl=0
Unzipped rename dup-installer to ds-dup-installer
rezip and import into DS with Clean Import on.
Yes, success

[wp-config.txt](https://github.com/ServerPress/clean-import/files/6812316/wp-config.txt)
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/681

[2021-07-14 16:37] GreggFranklin commented on #41
Both archives are returning an Error - Unable to locate database in the site archive.
<img width="564" alt="DesktopServer_8WcK28zhNb" src="https://user-images.githubusercontent.com/1041421/125659431-f359e54a-2d55-4dc6-a09e-6fdabed98065.png">

No log is being created even though Debug is set to TRUE

[2021-07-19 18:55] GreggFranklin commented on #41
Creating a new archive from a site using Duplicator Pro and importing generates a wp-config with a table prefix of "wp_bdlo_aioseo_", while the original wp-config contained "wp_bdlo_" .

Here is the log:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6843132/clean-import-log.txt)

Here is the archive used: https://www.dropbox.com/s/2gitw7ymcmbllms/20210719_thebullerfamil

[2021-07-21 17:10] GreggFranklin commented on #41
First test looks good!

Log:
[~clean-import-log.txt](https://github.com/ServerPress/clean-import/files/6857626/clean-import-log.txt)

[2021-07-26 17:00] GreggFranklin commented on #41
Tested with both the Free version and the Pro and both worked as expected. I do want to mention the writing of the wp-config. php does take a minute or so. Hopefully the user does not quickly click the DesktopServer link to the newly created site.

[2021-07-26 17:00] #41 closed, assigned to GreggFranklin

[2021-07-26 17:04] GreggFranklin commented on #43
This is working as expected. Including the "advance-cache.php" file which is located in the s /wp-content folder.

[2021-07-26 17:04] #43 closed, assigned to GreggFranklin

[2021-07-26 17:15] GreggFranklin commented on #42
I did a test where I added the SiteGround plugin and then exported an archive. Then imported the site with the Clean Import turned on and the plugin was not deactivated and the tables where there. I am not sure what I was expecting. Here are my questions:

1.) Is the plugin suppose to be renamed with date which would turn it off?
2.) Where the tables to be removed or the rows dropped in the tables

[2021-07-26 17:32] GreggFranklin commented on #37
Issue resolved.

[2021-07-26 17:32] #37 closed, assigned to GreggFranklin